#game-board {
    display: grid;
    grid-template-columns: repeat(12, 75px);
    grid-template-rows: repeat(6, 75px);
}

#game-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#game-inner {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 12;
    grid-row-end: 6;
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    background-color: aqua;
    align-items: center;
    justify-content: center;
}

.game-card-placeholder {
    height: 153px;
    width: 100px;
    background-color: chocolate;
}

.player-icons {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    position: absolute
}

.board-game-square {
    display: flex;
    height: 75px;
    width: 75px;
    background-color: grey;
    border: black solid 1px;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    box-sizing: border-box;
}

.board-game-square h2 {
    margin: 0;
    height: fit-content;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}